.App {
  text-align: center;
}

.banner {
  background-color: #ffbc42;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 620px) {
  .App {
    width: 100vw;
    /* background-color: red; */
    padding: 0 !important;
    margin-left: 12px !important;
  }
}